.box_form{
    width: 46rem;
    & .form-group2{
        display: flex;
        column-gap: $gap;
        & .form_password-repeat,.form_password{
            flex: 1;
        }
    }
    & .specific{
       display: flex;
       column-gap: $gap;
       & .form-number,.form-sex{
           flex: 1;
       }
       & .form-sex{
           & select{
               color: $color-text;
               width: 100%;
               border: 1px #a0a3a785 solid;
               padding: $padding-input;
               padding-left: 1.5rem;
               animation: none;
               &:hover{
                   border-color: $color-primary;
               }
           }
       }
    }
}
.policy{
    font-size: 15px;
    color: $color-text;
    line-height: 24px;
    font-weight: 400;
   letter-spacing: 0rem;
   margin-bottom: -1rem;
   & a{
       color: $color-primary;
       font-weight: 600;
   }
}
